<div style="padding-top: 20px;" class="container is-fluid">

  <div class="notification is-warning">
    <button class="delete"></button>Nodebot has lost connection to host.
  </div>

  <div class="tile is-ancestor">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box notification is-primary">
          <p class="title">Forward</p>
          <p class="subtitle">Move the Nodebot Forward</p>
        </article>
        <article class="tile is-child box notification is-info">
          <p class="title">Backward</p>
          <p class="subtitle">Move the Nodebot Backward</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box notification is-danger stop">
          <p class="title ">Stop</p>
          <p class="subtitle ">Halt all Nodebot functions</p>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box notification is-primary">
          <p class="title">Left</p>
          <p class="subtitle">Move the Nodebot Left</p>
        </article>
        <article class="tile is-child box notification is-info">
          <p class="title">Right</p>
          <p class="subtitle">Move the Nodebot Right</p>
        </article>
      </div>
    </div>
  </div>
</div>